* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 100%;
  padding: 50px 0;
}

.step{
  width: 960px;
  display: flex;
  flex-wrap:wrap;
  margin: auto;
}

.step-title{
  background-color: #ff9a4b;
  position: absolute;
}

.step-text h3{
  padding-top: 15px;
  padding-bottom: 5px;
}

.step-box{
  width: 300px;
  background-color: #eeeeee;
  margin: 10px;
}

.step-image{
  width: auto;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.step-image:nth-child(odd){
  margin: 10px 10px 10px 0;
}

.step-image:nth-child(1){
  background-image: url(img/flow01.jpg);

footer{
  height: 50px;
  background-color: #aaaaaa;
}