* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b;
}

main{
  width: 980px;
  margin: 50px auto;
  display:flex;
}

.step-title{
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}

 h3{
  padding-top: 15px;
  padding-bottom: 5px;
}

.step-box{
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  padding: 10px;
  position: relative;
}

.step-box:last-child{
  margin-right: 0 ;
}

.step-image1{
  width: auto;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.step-image2{
  width: auto;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.step-image3{
  width: auto;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

footer{
  height: 50px;
  background-color: #aaaaaa;
}